<h1></h1>
<% if @user_form && @user_form.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user_form,scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.label :name_or_email %> 
  <%= f.text_field :name_or_email, placeholder: "ユーザ名称かメールアドレスを入力してください"  %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "ログイン" %>
<% end %>