<% if @user_form.errors.present? && @user_form.errors.any? %>
  <div class="error_message_box">
    <ul>
      <% @user_form.errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-10">
      <h1 class='py-4 text-center'>ログイン</h1>
      <div class='center_form'>
        <%= form_with(model: @user_form,scope: :session, url: sessions_path, local: true) do |form| %>
          <div class="form-group">
            <%= form.label :name_or_email %> 
            <%= form.text_field :name_or_email, placeholder: "ユーザ名称かメールアドレスを入力してください",class:'form-control'  %>
          </div>
          <%= form.fields_for :user do |user_fields| %>
            <div class="form-group">
              <%= user_fields.label :password %>
              <%= user_fields.password_field :password ,class:'form-control'%>
            </div>
          <% end %>
          <div class="form-group">
            <%= form.submit "ログイン" ,class:'btn btn-primary'%>
          </div>
        <% end %>
        <p><%= link_to "新しいアカウントの作成", new_user_path %></p>
      </div>
    </div>
  </div>
</div>
